<section class="login container text-center">
    <div class="alert alert-info" role="alert">
        New here?
        <a routerLink="/signup">Sign up now</a>.
    </div>
    <form action="" id="loginForm" [formGroup]="loginForm" (ngSubmit)="signInWithCredentials()">
        <div class="form-group">
            <label for="">Email address</label>
            <input class="form-control form-control-lg" formControlName="email" type="text" [ngClass]="{'is-invalid': isInvalid('email', ['required','email'])">
            <div *ngIf="isInvalid('email', ['required'])" class="invalid-feedback">Email is required</div>
            <div *ngIf="isInvalid('email', ['email'])" class="invalid-feedback">Please supply a valid email</div>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input class="form-control form-control-lg" formcontrolName="password" type="password" [ngClass]="{'is-invalid': isInvalid('password', ['required'])">
            <div *ngIf="isInvalid('password', ['required'])" class="invalid-feedback">Password is required</div>
        </div>
        <button class="btn btn-lg btn-block btn-primary" form="loginForm">Submit</button>
        <button class="btn btn-lg btn-block btn-secondary" (click)="signInWithFacebook()">Login with Facebook</button>
        <button class="btn btn-lg btn-block btn-secondary" (click)="signInWithGoogle()">Login with Google</button>
    </form>
</section>
